@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500&family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: rgb(97, 95, 211);
}

body {
  width: 100%;
  height: 100%;
}
header, footer {
  background-color: rgb(248, 246, 121);
  width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}

.attention {
  background-color: rgb(123, 121, 248);
}

/* HEADER */

img {
  width: 167px;
  box-shadow: 4px 3px 32px 9px rgba(148, 148, 148, 0.71);
}
header h1 {
  font-size: 2.4em;
  margin: 13px 0 0 0;
}

/* MAIN */

h2 {
  font-size: 1.7em;
  padding: 50px 30px 20px 30px;
}
hr {
  margin-left: 30px;
}
main ul li {
  padding: 8px 30px;
  list-style: none;
}
main {
  margin: 0 0 37px 30px;
}

/* FOOTER */

footer span {
  font-size: 16px;
}