body {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
picture {
  display: block;
  margin: 6em auto;
}




/* Blur effect */
article img[data-src] {
  filter: blur(0.2em);
}

article img {
  filter: blur(0em);
  transition: filter 0.5s;
}