@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;700&display=swap');

* {
  margin: 0;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: white;
}

body {
  margin: 2em 3em;
  min-width: 330px;
}
body > div {
  margin: 0 auto;
}

body h1, footer {
  color: rgb(60, 64, 68);
}
footer a {
  color: rgb(82, 124, 165);
}
footer {
  margin-top: 3em;
}

body p {
  font-weight: 200;
  font-size: .8em;
}
body h2 {
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.1em;
}
body p, body h2 {
  padding-left: 16px;
  line-height: 1.45em;
  padding-right: .5em;
}
p:nth-child(3) {
  padding-bottom: 1em;
}

img {
  width: 100%;
  
}

section {
  background-color: rgb(102 102 102);
  padding: 0;
  width: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width: 550px) {
  main > div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  section {
    margin-bottom: 0;
  }
  section > div {
    height: 45vw;
    overflow: hidden;
  }
}

@media screen and (min-width: 1000px) {
  main > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  body > div {
    max-width: 1030px;
  }
  section > div {
    height: 20vw;
    overflow: hidden;
  }
}