@media  screen and (min-width: 1000px) {

  header > div,
  nav ul,
  main > div,
  footer > div
   {
    max-width: 800px;
  }
  
  .footer-bar > div {
    max-width: 770px;
  }
}





/* WEATHER GALLERY */


@media  screen and (min-width: 799px) {
  .weather-gallery picture:hover {
    box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
    background-color: var(--accent-color);
  }
}